<!-- Start footer -->
<div class="container-fluid footer"  id="footer">
	<div class="container">
		<div class="row">	
			<div class="col-md-6 col-sm-12">
				<div class="social">
					<div class="socialNetwork">
					<div class="css-social-diamond">
						<a href="https://www.facebook.com/" class="" title="follow me on Facebook"><i class="fa fa-facebook fa-footer"></i>
						</a>
					</div>
					<div class="css-social-diamond">
						<a href="https://twitter.com/" class="" title="follow me on Twitter"><i class="fa fa-twitter fa-footer"></i>
						</a>
					</div>
					<div class="css-social-diamond">
						<a href="https://plus.google.com/" class="" title="follow me on Google+"><i class="fa fa-google-plus fa-footer"></i>
						</a>
					</div>
					<div class="css-social-diamond">
						<a href="https://www.linkedin.com/" class="" title="follow me on Linkedin"><i class="fa fa-linkedin fa-footer"></i>
						</a>
					</div>
					</div>
				</div>
			</div>	
			<div class="col-md-6 col-sm-12">
				<div class="copyright">
					<p>Copyright  &copy;2016 Puppet-toys LTD</p>
                    
				</div/>
			</div>	
		</div>
    </div>
</div>
<!-- End footer -->
